nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    line-height: 20px;
    
  img {
    margin-top: 10px;
    height: 75px;
    width: 250px;
  }
  
}
